<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>Capacity: {{ cap }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://th.bing.com/th/id/OIP.xW5sGWKSjnyMRPHmeOTw6gHaE8?pid=ImgDet&rs=1" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Spacious meeting room with breathtaking river and city views. Designed for tranquility and comfort, this quiet space accommodates up to twelve individuals, providing the ideal setting for productive discussions and collaborations.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- Pressing this button shows a calendar- when the date is selected it then shows available times -->
    <div *ngIf="noButtons == null" class="button-row">
      <button mat-raised-button [routerLink]="['/roomview']" routerLinkActive="router-link-active">View</button>
      <button mat-raised-button color="primary"
      [routerLink]="['/details']" routerLinkActive="router-link-active"
      >Reserve</button>
    </div>
  </mat-card-actions>
</mat-card>
