<div class="container">
  <p>Welcome to the First National Bank meeting room reservation application!</p>
<p>This site was developed for use with the office location on 30 Isabella Street.</p>
<br>
<p>Do you already know what time and date you want? Or do you want to find the
  perfect room first?
</p>


  <div class="button-area">
    <button mat-raised-button color="primary"
    [routerLink]="['/time']" routerLinkActive="router-link-active"
    >Choose time</button>
    <button mat-raised-button
    [routerLink]="['/rooms']" routerLinkActive="router-link-active"
    >Browse rooms</button>
  </div>


</div>

