<div class="container">
  <!-- vv This is where the values will be passed from the declared values in the TS file (which are pulled from database)-->
  <!-- An ngFor loop can be used to make a card for each room-->
  <app-card
  name="Isabella Room 1"
  cap="12"
  ></app-card>

  <app-card
  name="Isabella Room 2"
  cap="12
  "
  ></app-card>

  <app-card
  name="Isabella Room 3"
  cap="8
  "
  ></app-card>

  <app-card
  name="Glass Room 1"
  cap="4
  "
  ></app-card>
</div>




<!-- <div class="container" *ngFor="let room of rooms">
  <app-card
  title="{{ room.title }}"
  ></app-card>
</div> -->
