<div class="container">
  <ng-container *ngFor="let item of getRange(14); let i = index">
    <div class="timegroup">
      <div class="slots">
        <!-- x:00 -->
        <div *ngIf="roomCheck(i + 6 + ':00') == true; else elseBlock">
          <app-takenslot marker="{{ i + 6 }}"></app-takenslot>
        </div>

        <ng-template #elseBlock>
          <app-caltimeslot
            marker="{{ i + 6 }}"
            time="{{ i + 6 }}"
            (timeSelected)="addTime($event)"
          ></app-caltimeslot>
        </ng-template>

        <!-- X:15 -->
        <div *ngIf="roomCheck(i + 6 + ':15') == true; else elseBlock1">
          <app-takenslot></app-takenslot>
        </div>

        <ng-template #elseBlock1>
          <app-caltimeslot
            time="{{ i + 6 + ':15' }}"
            (timeSelected)="addTime($event)"
          ></app-caltimeslot>
        </ng-template>

        <!-- X:30 -->
        <div *ngIf="roomCheck(i + 6 + ':30') == true; else elseBlock2">
          <app-takenslot></app-takenslot>
        </div>

        <ng-template #elseBlock2>
          <app-caltimeslot
            time="{{ i + 6 + ':30' }}"
            (timeSelected)="addTime($event)"
          ></app-caltimeslot>
        </ng-template>

        <!-- X:45 -->
        <div *ngIf="roomCheck(i + 6 + ':45') == true; else elseBlock3">
          <app-takenslot></app-takenslot>
        </div>

        <ng-template #elseBlock3>
          <app-caltimeslot
            time="{{ i + 6 + ':45' }}"
            (timeSelected)="addTime($event)"
          ></app-caltimeslot>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
