<div class="holder">
  <div class="container">
    <p>Date: {{date}}</p>
    <p>Isabella 1</p>
    <app-weekday
      room="isabella1"
      isabella1Array="{{ testIsa1 }}"
    ></app-weekday>

    <p>Isabella 2</p>
    <app-weekday room="isabella2"
    isabella2Array="{{ isabella2 }}"></app-weekday>

    <div class="arrows">
      <p><--- ---></p>
    </div>

    <div class="buttons">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <div class="confirm">
        <button class="btn btn-primary" (click)="getReserved()">Conf</button>
      </div>
    </div>
  </div>
</div>
