p {
  color: white;
}

.test {
  display: flex;
}

.container {
  max-width: 100%;
}

.arrows {
  text-align: center;
  font-size: 2rem;
}

.buttons {
  display: flex;

  align-items: baseline;

  background-color: rgb(65, 6, 45);
  width: fit-content;

  border-radius: 5px;
  padding: 1rem;

  margin: auto;
}

.container {
  margin: auto;
  margin-top: 3rem;
  width: fit-content;
}
