@import '../../allstyles.scss';

.container {
  text-align: center;
  background-color: darken($color: $background, $amount: 10);

  align-items: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

img {
  max-width: 100px;
}

* {
  color: $text;
  margin: 0;

}
