<div class="container">
  <app-card noButtons="true"></app-card>
  <img src="https://th.bing.com/th/id/R.ff5d2a486c29ee60fd02eb3dd8925305?rik=P7wMu1wTSQ3ipg&pid=ImgRaw&r=0" alt="">
  <img src="https://th.bing.com/th/id/R.ff5d2a486c29ee60fd02eb3dd8925305?rik=P7wMu1wTSQ3ipg&pid=ImgRaw&r=0" alt="">
  <img src="https://th.bing.com/th/id/R.ff5d2a486c29ee60fd02eb3dd8925305?rik=P7wMu1wTSQ3ipg&pid=ImgRaw&r=0" alt="">

  <button mat-raised-button
  [routerLink]="['/rooms']" routerLinkActive="router-link-active"
  >Cancel</button>

  <button mat-raised-button color="primary"
  [routerLink]="['/details']" routerLinkActive="router-link-active"
  >Reserve</button>
</div>

